@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap');
* {
    padding: 0;
    margin: 0;
}

.body {
    background: url("../Images/bg.jpg");
    min-height: 100vh;
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#scoreBox {
    position: absolute;
    top: 9px;
    right: 100px;
    font-size: 39px;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
    font-family: 'New Tegomin', serif;
    border: 2px solid black;
    border-radius: 10px;
}

#highscoreBox {
    position: absolute;
    top: 75px;
    right: 100px;
    font-size: 39px;
    font-weight: bold;
    padding: 10px;
    margin: 10px;
    font-family: 'New Tegomin', serif;
    border: 2px solid black;
    border-radius: 10px;
}

#board {
    background: linear-gradient(rgb(135, 241, 135), rgb(236, 236, 144));
    width: 90vmin;
    height: 92vmin;
    border: 2px solid black;
    display: grid;
    /* Gives 18 rows and columns to the board */
    grid-template-rows: repeat(18, 1fr);
    grid-template-columns: repeat(18, 1fr);
}

.head {
    background: linear-gradient(red, yellow);
    border: 2px solid purple;
    border-radius: 12px;
    transform: scale(1.2);
}

.snake {
    background-color: purple;
    border: .25min solid white;
    border-radius: 12px;
}

.food {
    background: linear-gradient(red, purple);
    border: .25min solid black;
    border-radius: 8px;
}

/* Media Query */

@media screen and (max-width: 1357px) {
    /* high Score Box */
    #scoreBox {
        position: absolute;
        top: 20px;
        right: 10px;
    }
    #highscoreBox {
        position: absolute;
        top: 85px;
        right: 10px;
    }
    .body {
        display: flex;
        justify-content: flex-start;
        padding-left: 20px;
        align-items: center;
    }
}

@media screen and (max-width: 1150px) {
    .body {
        background: #7C9E02;
    }
}

@media screen and (max-width: 1050px) {
    #scoreBox {
        display: none;
    }
    #highscoreBox {
        display: none;
    }
}

@media screen and (max-width: 465px) {
    #scoreBox {
        display: block;
    }
    #highscoreBox {
        display: block;
    }
}

@media screen and (max-width: 335px) {
    #scoreBox {
        font-size: 35px;
    }
    #highscoreBox {
        font-size: 35px;
    }
    .body {
        padding-right: 15px;
    }
}

@media screen and (max-width: 310px) {
    #scoreBox {
        font-size: 20px;
    }
    #highscoreBox {
        font-size: 20px;
    }
}