@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap');
* {
    padding: 0;
    margin: 0;
}

.body {
    background: url("../Images/bg.jpg");
    min-height: 100vh;
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    display: flex;
    justify-content: left;
    align-items: center;
}

#scoreBox {
    position: absolute;
    top: 9px;
    right: 200px;
    font-size: 39px;
    font-weight: bold;
    font-family: 'New Tegomin', serif;
}

#highscoreBox {
    position: absolute;
    top: 45px;
    right: 200px;
    font-size: 39px;
    font-weight: bold;
    font-family: 'New Tegomin', serif;
}

#board {
    background: linear-gradient(rgb(135, 241, 135), rgb(236, 236, 144));
    width: 90vmin;
    height: 92vmin;
    border: 2px solid black;
    display: grid;
    /* Gives 18 rows and columns to the board */
    grid-template-rows: repeat(18, 1fr);
    grid-template-columns: repeat(18, 1fr);
}

.head {
    background: linear-gradient(red, yellow);
    border: 2px solid purple;
    border-radius: 12px;
    transform: scale(1.2);
}

.snake {
    background-color: purple;
    border: .25min solid white;
    border-radius: 12px;
}

.food {
    background: linear-gradient(red, purple);
    border: .25min solid black;
    border-radius: 8px;
}